* {
    margin: 0px;
    padding: 0px;
}

html {
    background: url("../images/hhx-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}